# Managed by Ansible. Local changes will be overwritten.
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
{% set schedule = [
  borgmatic_backup_cron.minute,
  borgmatic_backup_cron.hour,
  borgmatic_backup_cron.day,
  borgmatic_backup_cron.month,
  borgmatic_backup_cron.weekday
] | join(' ') %}
{% set command = [
  '/usr/bin/flock',
  '-n',
  borgmatic_backup_lock_file,
  borgmatic_backup_borgmatic_path,
  '--config',
  borgmatic_backup_config_path
] + borgmatic_backup_run_arguments %}
{{ schedule }} root {% for argument in command %}{{ argument | quote }}{% if not loop.last %} {% endif %}{% endfor %} >> {{ borgmatic_backup_log_file | quote }} 2>&1
