services:
  adguardhome:
    image: {{ adguard_image }}:{{ adguard_image_tag }}
    container_name: adguardhome
    restart: unless-stopped

    # For DNS on port 53, host networking avoids hairiness with udp/tcp mapping.
    # But then web binding must be handled in AdGuardHome.yaml (127.0.0.1).
    network_mode: "host"

    volumes:
      - "{{ adguard_work_dir }}:/opt/adguardhome/work"
      - "{{ adguard_conf_dir }}:/opt/adguardhome/conf"

    # Optional but nice: write container logs to journald
    logging:
      driver: "journald"
