[Service]
ExecStart=
ExecStart={{ openvpn_client_unit_execstart }} --script-security 2 --up {{ openvpn_client_update_resolvconf_effective_path }} --down {{ openvpn_client_update_resolvconf_effective_path }}
