{% if ovpn_client_static_ip | default('') | trim | length > 0 -%}
ifconfig-push {{ ovpn_client_static_ip }} {{ openvpn_netmask }}
{% endif -%}

{% if ovpn_client_type == 'gateway' -%}
{% for gw_net in ovpn_client_gateway_networks | default([]) -%}
iroute {{ gw_net.gateway_network_ip }} {{ gw_net.gateway_network_netmask }}
{% endfor -%}
{% elif ovpn_client_type == 'roaming' -%}
{% for gw_net in openvpn_gateway_networks | default([]) -%}
push "route {{ gw_net.gateway_network_ip }} {{ gw_net.gateway_network_netmask }}"
{% endfor -%}
{% endif %}
