client
dev tun
proto {{ openvpn_proto }}
remote {{ openvpn_remote_host }} {{ openvpn_port }}
resolv-retry infinite
nobind

persist-key
persist-tun

{% if ovpn_client_type in ['gateway', 'local']
      and (home_lan_network | default('') | trim | length > 0)
      and (home_lan_netmask | default('') | trim | length > 0) %}
pull-filter ignore "route {{ home_lan_network }} {{ home_lan_netmask }}"
{% endif %}

remote-cert-tls server
key-direction 1

verb 3

<ca>
{{ ovpn_ca_content }}
</ca>

<cert>
{{ ovpn_crt_content }}
</cert>

<key>
{{ ovpn_key_content }}
</key>

<tls-auth>
{{ ovpn_ta_content }}
</tls-auth>
