port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev tun

topology subnet
server {{ openvpn_network }} {{ openvpn_netmask }}

{% if openvpn_mgmt_password | default('') | trim | length > 0 %}
management {{ openvpn_mgmt_bind }} {{ openvpn_mgmt_port }} {{ openvpn_mgmt_password_file }}
{% endif %}

ca ca.crt
cert server.crt
key server.key
dh dh.pem
# todo: change to tls-crypt and drop the zero (also for the clients)
tls-auth ta.key 0

# modern tls versions
tls-version-min 1.2
data-ciphers AES-256-GCM:AES-128-GCM:CHACHA20-POLY1305
data-ciphers-fallback AES-256-GCM

client-config-dir {{ ccd_dir }}
{% if openvpn_client_to_client | bool %}
client-to-client
{% endif %}

# Explicitly control tunnel mode
{% if openvpn_full_tunnel %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}

# routes to gateway networks (optional)
{% set _gateway_networks = openvpn_gateway_networks | default([]) %}
{% if _gateway_networks | length > 0 %}
{% for gw_net in _gateway_networks %}
route {{ gw_net.gateway_network_ip }} {{ gw_net.gateway_network_netmask }}
{% endfor %}
{% endif %}

{% set _dns_list = [openvpn_dns_servers] if openvpn_dns_servers is string else (openvpn_dns_servers | flatten) %}
{% set _dns_domains = openvpn_dns_domains_route | default([]) %}
{% if _dns_list | length > 0 %}
{% for dns in _dns_list %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}
{% for dns_domain in _dns_domains %}
push "dhcp-option DOMAIN-ROUTE {{ dns_domain }}"
{% endfor %}
{% endif %}

allow-compression no

# packet size adjustments to avoid dropping packets
mssfix 1280

# auto-buffering
sndbuf 0
rcvbuf 0
push "sndbuf 0"
push "rcvbuf 0"

keepalive 10 120
persist-key
persist-tun

user openvpn
group openvpn

status /run/openvpn/{{ openvpn_vpn_name }}.status 10

verb 3
